body{
    background-color: #f491ec;
    }

* {
  box-sizing: border-box;
}

/*nav {
    
  float: right;
align-content: right;
  width: 100%;
  height: 90px; 
  background: aliceblue;
  padding: 20px;
  color: white;
}

div.al {
	  width: 20%;
      color: white;
    }*/
a.active {
  background-color: #4CAF50;
  color: white;
}

img.set {
    width:"700" ;
    height:"400";
}

#good{
	visibility: visible;
}

#myDIV {
  width: 40%;
 
 text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
ul.navbar {
list-style-type: none; margin: 0;
padding: 0;
overflow: hidden; background-color: #333;
}
ul li {
    float: right;
}
li a {
    display: block;
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none;
}
li a:hover {
background-color: #111;
}
